<p-accordion [multiple]="true">
  <p-accordionTab header="Schema">
    <p-tree [value]="nodes | async"
            selectionMode="single"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)"
            (onNodeContextMenuSelect)="nodeCmSelect($event)"
            [contextMenu]="cm"
            [loading]="schemaLoading">

      <ng-template let-node  pTemplate="table">
        <p (dblclick)="open(node);">
          {{node.label}}
        </p>
      </ng-template>

      <ng-template let-node  pTemplate="column">
        <p>{{node.label}}</p>
      </ng-template>
    </p-tree>

    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
  </p-accordionTab>

  <p-accordionTab header="Resources">
    Content 2
  </p-accordionTab>
</p-accordion>
