<p-accordion [multiple]="true">
  <p-accordionTab header="Internal" [disabled]="(project$ | async) === undefined">
    <p-tree [value]="internalNodes$ | async"
            selectionMode="single"
            (onNodeExpand)="nodeExpand($event)"
            (onNodeCollapse)="nodeUnselect()"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect()"
            [loading]="(internalTableNames$ | async) === undefined">

      <ng-template let-node  pTemplate="table">
        <p (dblclick)="open('internal', node);">
          {{node.label}}
        </p>
      </ng-template>

      <ng-template let-node  pTemplate="column">
        <p>{{node.label}}</p>
      </ng-template>
    </p-tree>
  </p-accordionTab>

  <p-accordionTab header="Stage" [disabled]="(stage$ | async) === undefined">
    <p-tree [value]="stageNodes$ | async"
            selectionMode="single"
            (onNodeExpand)="nodeExpand($event)"
            (onNodeCollapse)="nodeUnselect()"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect()"
            [loading]="(stageTableNames$ | async) === undefined">

      <ng-template let-node  pTemplate="table">
        <p (dblclick)="open('current', node);">
          {{node.label}}
        </p>
      </ng-template>

      <ng-template let-node  pTemplate="column">
        <p>{{node.label}}</p>
      </ng-template>
    </p-tree>
  </p-accordionTab>
</p-accordion>
