<p-accordion [multiple]="true">
  <p-accordionTab header="Internal" [disabled]="(project$ | async) === undefined">
    <p-tree [value]="internalNodes$ | async"
            selectionMode="single"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)"
            (onNodeContextMenuSelect)="nodeCmSelect($event)"
            [contextMenu]="cm"
            [loading]="(internalSchema$ | async) === undefined">

      <ng-template let-node  pTemplate="table">
        <p (dblclick)="open('internal', node);">
          {{node.label}}
        </p>
      </ng-template>

      <ng-template let-node  pTemplate="column">
        <p>{{node.label}}</p>
      </ng-template>
    </p-tree>

    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
  </p-accordionTab>

  <p-accordionTab header="Stage" [disabled]="(stage$ | async) === undefined">
    <p-tree [value]="stageNodes$ | async"
            selectionMode="single"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)"
            [loading]="(stageSchema$ | async) === undefined">

      <ng-template let-node  pTemplate="table">
        <p (dblclick)="open('current', node);">
          {{node.label}}
        </p>
      </ng-template>

      <ng-template let-node  pTemplate="column">
        <p>{{node.label}}</p>
      </ng-template>
    </p-tree>
  </p-accordionTab>
</p-accordion>
