<div *ngIf="stages === undefined">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="stages !== undefined">
  <div class="p-d-flex">
    <div class="p-mr-2">
      <p-listbox [options]="stages"
                 (onChange)="onStageSelect($event)"
                 optionLabel="name">
        <ng-template let-stage pTemplate="item">
          <p [class.current]="stage.name === currentStage">{{stage.name}}</p>
        </ng-template>
      </p-listbox>
    </div>

    <div class="p-mr-2 p-fluid">
      <div class="p-field">
        <label for="name">Name</label>
        <input id="name"
               pInputText
               [disabled]="!creating"
               type="text"
               [(ngModel)]="selectedStage.name">
      </div>

      <app-datasource [ds]="selectedStage.datasource" [editing]="editing"></app-datasource>
    </div>
  </div>

  <div class="selection-pane p-d-flex p-jc-center" *ngIf="!editing && selectedStage.name !== ''">
    <button pButton label="Select" icon="pi pi-check" class="p-mr-4 p-button-secondary" *ngIf="selectedStage.name !== currentStage" (click)="onSelectCurrentStage()"></button>
    <button pButton label="Unselect" icon="pi pi-times" class="p-mr-4 p-button-secondary" *ngIf="selectedStage.name === currentStage" (click)="onUnselectCurrentStage()"></button>
  </div>

  <div class="selection-pane p-d-flex p-jc-center" *ngIf="!editing && selectedStage.name === currentStage">
    <button pButton label="Apply schema" icon="pi pi-pencil" class="p-mr-4 p-button-secondary" (click)="onApplySchema()"></button>
    <button pButton label="Deploy data" icon="pi pi-pencil" class="p-mr-4 p-button-secondary" (click)="onDeploy()"></button>
  </div>

  <div class="crud-pane p-d-flex p-jc-center">
    <ng-container *ngIf="!editing">
      <button pButton label="New" icon="pi pi-plus" class="p-mr-4 p-button-success" (click)="onCreateStage()"></button>
      <button pButton label="Copy" icon="pi pi-copy" class="p-mr-4 p-button-success" [disabled]="selectedStage.name === ''" (click)="onCopyStage()"></button>
      <button pButton label="Edit" icon="pi pi-pencil" class="p-mr-4 p-button-warning" [disabled]="selectedStage.name === ''" (click)="onEditStage()"></button>
      <button pButton label="Delete" icon="pi pi-times" class="p-mr-4 p-button-danger" [disabled]="selectedStage.name === ''" (click)="onDeleteStage()"></button>
    </ng-container>

    <ng-container *ngIf="editing">
      <button pButton label="Save" icon="pi pi-save" class="p-mr-3 p-button-success" (click)="onSaveStageEditing()"></button>
      <button pButton label="Cancel" icon="pi pi-times" class="p-mr-3 p-button-danger" (click)="onCancelStageEditing()"></button>
    </ng-container>
  </div>
</div>

<p-footer>
  <button pButton label="Ok" icon="pi pi-check" class="p-button-text" (click)="onOk()"></button>
</p-footer>
