<p *ngIf="table === undefined">Nothing to show :(</p>

<ng-container *ngIf="table !== undefined">
  <h3>Columns</h3>
  <ul>
    <li *ngFor="let column of table.columns">
      {{column.name}}: {{column.type}}

      <span *ngIf="!column.nullable || column.defaultValue">
        (<span *ngIf="!column.nullable">NotNull</span> <span *ngIf="column.defaultValue">Default value: {{column.defaultValue}}</span>)
      </span>
    </li>
  </ul>

  <h3>Primary key</h3>
  <p *ngIf="!table.pk">None</p>
  <ul *ngIf="table.pk">
    <li *ngFor="let columnName of table.pk.columnNames">{{columnName}}</li>
  </ul>

  <h3>Foreign keys</h3>
  <div class="fk_container" *ngFor="let fk of table.fks">
    <h4>{{fk.name}}</h4>
    <ul>
      <li *ngFor="let columnName of fk.columnNames; let i = index;">{{table.name}}.{{columnName}} -> {{fk.pkTableName}}.{{fk.pkColumnNames[i]}}</li>
    </ul>
  </div>
</ng-container>
