<div class="container">
  <header>
    Project DABAG
  </header>

  <nav>
    <p-menubar [model]="items"></p-menubar>
  </nav>

  <main>
    <aside>
      <section>
        Top-Left
      </section>

      <section>
        <header>Properties</header>
        <app-properties></app-properties>
      </section>
    </aside>

    <aside>
      <section>
        Top-Right
      </section>

      <section>
        Bottom-Right
      </section>
    </aside>
  </main>

  <footer>
    Test Data Management
  </footer>
</div>
