div.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  background-color: #303030;
  color: #c9c9c9;
  border-bottom: 1px solid grey;
  padding: 5px;
}

nav {
  background-color: blueviolet;
  flex-shrink: 0;
  border-bottom: 1px solid grey;
}

main {
  background-color: darkseagreen;
  flex: 1 0 auto;
  display: flex;

  aside {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      flex-grow: 1;
      border-right: 3px solid #c9c9c9;
    }

    &:nth-child(2) {
      flex-grow: 3;
    }

    section {
      background-color: coral;

      &:nth-child(1) {
        flex-grow: 2;
        border-bottom: 3px solid #c9c9c9;
      }

      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}

footer {
  height: 25px;
  flex-shrink: 0;
  background-color: #c9c9c9;
  border-top: 1px solid grey;
}

:host ::ng-deep {
  .ui-menubar {
    border-radius: 0;
    background-color: #c9c9c9;
    font-size: smaller;
  }

  .ui-menubar-root-list {
    .ui-menuitem {
      .ui-menuitem-link {
        .ui-submenu-icon {
          display: none;
        }
      }
    }
  }
}
