div.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  background-color: #303030;
  color: #c9c9c9;
  border-bottom: 1px solid grey;
  padding: 5px;
}

nav {
  flex-shrink: 0;
  border-bottom: 1px solid grey;
}

main {
  flex: 1 0 auto;
  display: flex;
  height: 1%;

  aside {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      flex-basis: 20%;
    }

    &:nth-child(2) {
      flex-basis: 80%;
    }

    section {
      overflow: auto;

      header {
        padding: 5px;
        background-color: #bcbcbc;
        color: black;
      }

      &:nth-child(1) {
        flex: 1 0 70%;

        app-properties {
          height: 100%;
        }
      }

      &:nth-child(2) {
        flex: 1 0 30%;
      }
    }
  }
}

footer {
  flex-shrink: 0;
  background-color: #c9c9c9;
  border-top: 1px solid grey;
  padding: 5px;
}

:host ::ng-deep {
  .ui-menubar {
    border-radius: 0;
    background-color: #c9c9c9;
    font-size: smaller;
  }

  .ui-menubar-root-list {
    .ui-menuitem {
      .ui-menuitem-link {
        .ui-submenu-icon {
          display: none;
        }
      }
    }
  }
}
