<article>
  <aside>
    <section>
      <header>Project structure</header>
      <main>
        Top-Left
      </main>
    </section>

    <section>
      <header>Properties</header>
      <main>
        <app-properties></app-properties>
      </main>
    </section>
  </aside>

  <aside>
    <section>
      <header>Table content</header>
      <main>
        Top-Right
      </main>
    </section>

    <section>
      <header>Status</header>
      <main>
        Bottom-Right
      </main>
    </section>
  </aside>
</article>
