<article>
  <aside>
    <section>
      <header>Project structure</header>
      <main>
        <app-project></app-project>
      </main>
    </section>

    <section>
      <header>Properties</header>
      <main>
        <app-properties></app-properties>
      </main>
    </section>
  </aside>

  <aside>
    <section>
      <header>Table content</header>
      <main>
        <app-table-content></app-table-content>
      </main>
    </section>

    <section>
      <header>Status</header>
      <main>
        <app-status></app-status>
      </main>
    </section>
  </aside>
</article>
