<div *ngIf="currentStep === undefined">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-steps *ngIf="currentStep !== undefined" [model]="steps" [activeIndex]="currentStep"></p-steps>

<div class="content">
  <div class="step start" *ngIf="currentStep === 0">
    <p>
      This wizzard will help you to perform schema update.
      <br>
      Please, assure that you have a correct updater selected.
    </p>

    <p class="updater">
      Current schema updater: <span class="keyword">{{updater}}</span>
    </p>

    <div class="step-footer">
      <p-button *ngIf="!loading" (onClick)="onUpdateInit()">Begin</p-button>
      <p-button *ngIf="loading" [disabled]="true">Wait...</p-button>
    </div>
  </div>

  <div class="step init" *ngIf="currentStep === 1">
    <p>
      Schema update has been initialised. Take a look at the changes that were made.
    </p>

    <app-update-visualiser [update]="currentUpdateReport"></app-update-visualiser>

    <div class="step-footer">
      <p-button *ngIf="!loading" (onClick)="currentStep = mappingRequired ? 2 : 3">Next</p-button>
      <p-button *ngIf="loading" [disabled]="true">Wait...</p-button>
    </div>
  </div>

  <div class="step mapping" *ngIf="currentStep === 2">
    <p>
      You are using a diff-based schema updater. Please, provide data migration scripts for the tables listed below.
    </p>

    <p>
      You can query data from the old schema using keyword <span class="keyword">old</span>, and from the new schema using keyword <span class="keyword">new</span>.
    </p>

    <app-migration-form [update]="currentUpdateReport" [model]="mappingRequest"></app-migration-form>

    <div class="step-footer">
      <p-button *ngIf="!loading" (onClick)="currentStep = 1">Back</p-button>
      <p-button *ngIf="!loading" (onClick)="onMapData(mappingRequest!)">Next</p-button>
      <p-button *ngIf="loading" [disabled]="true">Wait...</p-button>
    </div>
  </div>

  <div class="step confirmation" *ngIf="currentStep === 3">
    <p>
      Everything is prepared. Please, confirm the update.
    </p>

    <p class="note">
      Note: After schema update has been committed, you won't be able to roll it back
    </p>

    <div class="step-footer">
      <p-button *ngIf="!loading && mappingRequired" (onClick)="onRollbackDataMapping()">Mapping rollback</p-button>
      <p-button *ngIf="loading" [disabled]="true">Wait...</p-button>
    </div>
  </div>
</div>

<p-footer>
  <button pButton label="Update" icon="pi pi-check" class="p-button-text" [disabled]="loading || currentStep !== 3" (click)="onConfirm()"></button>
  <button pButton label="Cancel" icon="pi pi-times" class="p-button-text" [disabled]="loading" (click)="onCancel()"></button>
</p-footer>
