p.note {
  margin-top: 20px;
  color: maroon;
  font-size: small;
}

p.updater {
  margin-bottom: 10px;
}

div.step p {
  margin-bottom: 20px;
}

div.content {
  margin-top: 20px;
  margin-bottom: 10px;
}

div.step-footer {
  margin-top: 20px;
}

span.keyword {
  font-family: monospace;
  color: slateblue;
}
